extends layout

block title
	title #{title}

block content
	h2.page-header Login
	p
		| Please Login using the form below
	form(method='post',action='/users/login')
		.form-group
			label Username
			input.form-control(name='username',type='text',placeholder='Enter Username')
		.form-group
			label Password
			input.form-control(name='password',type='password',placeholder='Enter Password')
		input.btn.btn-default(name='submit',type="submit",value='Login')
	a(class='text-center',href='/users/register') Don't have an account yet? Click to register